!!! Strict
%html
  %head
    %title= settings.title
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css"}/
    %link{:rel => "stylesheet/less", :href => "/css/main.less", :type => "text/css"}/

    %script{:src => "/js/less.min.js", :type => "text/javascript"}

  %body
    != yield
